<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='mt-10 col-sm-6 col-12'>
        <div class='copyright'>
          <p>Work-in-progress © 2026. GarbGAB</p>
        </div>
      </div>
    </div>
  </div>
</footer>