<header class="bg-gray-200 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <nav class="shrink-0 flex items-center">
        <a href="/" class="text-2xl font-bold text-violet-700">GarbGAB</a>
      </nav>
      <!-- Navigation Links (Desktop) -->
      <nav class="hidden sm:flex space-x-40">
        <a class="text-gray-900 hover:text-violet-700 px-3 py-2 rounded-md text-lg font-medium"><%= button_to "Posts(Gab)", posts_path ,method: :get%></a>
        <a class="text-gray-900 hover:text-violet-700 px-3 py-2 rounded-md text-lg font-medium"><%= button_to "Wardrobe(Garb)", items_path, method: :get%></a>
      </nav>
      <nav class="hidden sm:flex space-x-40">
        <%= render 'shared/header_icon' %>
      </nav>
    </div>
  </div>
</header>