<header class="bg-gray-200 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <nav class="shrink-0 flex items-center">
        <a href="/" class="text-2xl font-bold text-violet-700">GarbGAB</a>
      </nav>
      <!-- Navigation Links (Desktop) -->
      <nav class="justify-end-safe">
        <a class="text-gray-900 hover:text-violet-700 px-3 py-2 rounded-md text-sm font-medium"><%= link_to "Register", new_user_registration_path %></a>
        <a class="text-gray-900 hover:text-violet-700 px-3 py-2 rounded-md text-sm font-medium"><%= link_to "Login", new_user_session_path %></a>
      </nav>
    </div>
  </div>
</header>