@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "/Users/maki/workspace/garbgab_app/node_modules/flowbite";

#main {
    margin: 0 auto;
    width: 960px;
}

.rounded-circle {
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.grid-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
