@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "/Users/maki/workspace/garbgab_app/node_modules/flowbite";

#main {
    margin: 0 auto;
    width: 960px;
}

.rounded-circle {
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.grid-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 1px 1px 3px black;
  text-align: center;
}